<% include partials/header %>

<% blogs.forEach((blog) => { %>
  <div class="header-section"><%= blog.title %></div>
  <img src="<%= blog.image %>" />
  <div><%= blog.created %></div>
  <p><%= blog.body %> </p>
<% }) %>

<% include partials/footer %>