<% include partials/header %>
    <div class="ui main text container segment">
        <div class="ui huge header"> <%= blog.title %> </div>
        <div class="ui top attatched">
            <div class="item">
                <img height="300" width="100%" src="<%= blog.image %> " alt="Sorry we could not render an image for you">
                <div class="content">
                    <span><%= blog.created.toDateString() %></span>
                </div>
                <div class="description">
                    <p><%= blog.body %></p>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>