
i.code.icon {
    font-size: 2em;
}

.header-section {
    margin-top: 5em;

}

.container.main {
    margin-top: 50px;
}

.ui.text.container {
    margin-top: 5em;
}

.containers {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}